/* وتعيين اسم ومسار الخط CSS إلى ملف Cairo-SemiBold.ttf إضافة نوع الخط */
@font-face{
    font-family: ar-font;
    src:url(../fonts/Cairo-SemiBold.ttf);
}
body{
    direction: rtl;
    font-family: ar-font;
}
header{
    background: url("../img/header-bg.jpg") #00000040;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center center;
}
header .brand{
    /* تطبيق حشوة وهامش لشعار الصفحة */
    margin: 80px auto 50px;
    padding: 20px 10px;   /*من الاعلى20 والاسفل
    10 من اليمين واليسار*/
    border-bottom: 5px solid #474c55; /*ياخذ الخط كل الصفحة   وذلك لان الشعار ضمن الحاوية 
    divالتي تاخذ display:block لذلك سوف نغيره 
    حتى يكون الخط اسفل الشعار فقط */
    /* جعل عرض الخط بعرض الشعار */
    display: inline-block;
}
/* تحديد حجم الخط وشدته والتباعد بين الأسطر واللون للعنوان الرئيسي */
header .page-heading h1 {
    font-size: 60px;
    font-weight: bold;
    line-height: 75px;
    color: #fff; 
  }
  /* وجعل عرض الفقرة 40% من قيمة عرض الصفحة p تحديد حجم الخط والتباعد بين الأسطر واللون للفقرة */
header .page-heading p {
    width: 40%; /*بدلا من وضع brبين الاسطر
    وحتى تكون متجاوبة  مع مختلف  الشاشات*/
    font-size: 18px;
    line-height: 25px;
    color: #acacac; 
    margin: 0 auto;
}
/* تطبيق تنسيقات الخط على الأرقام، وجعلها في أسطر مختلفة */
header .counter .is-countdown .countdown-section .countdown-amount{
    display: block;
    font-size: 60px;
    color: #ffce00;
    font-weight: bold;
}
header .counter .is-countdown .countdown-section .countdown-period{
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    display: block;
}
header .counter .is-countdown .countdown-section{
    display: inline-block;
    margin: 0 20px;
}
header .counter{
    margin: 60px auto;
    padding: 30px;
}
header .send-notification p {
    font-size: 18px;
    color: #fff; 
}

/* تنسيق الخط والحدود داخل نموذج البريد الإلكتروني */
header .send-notification .input-group input {
    border-radius: 0;
    font-size: 18px;
    font-family: ar-font;
    color: #e6e6e6;
    border-width: 2px;
    border-color: #e6e6e6; 
}
header .send-notification .input-group button{
    background-color:#ffce00 ;
    padding:0.5rem 1.5rem;
    border-radius: 0;/*لالغاء استدارة الزوايا  التي يعطيها بوتستراب */
}
header .send-notification .input-group{
    width: 30%;
    margin: 0 auto;
}
/*تحديد طول حقل الادخال ليتناسب مع طول زر الارسال*/
/* التى يستخدمها المدرب bootstrap يمكننا الاستغناء عن تحديد طول حقل الادخال فى النسخة المستخدمة من مكتبة*/
header .send-notification .input-group input {
    height: auto;
    box-shadow: none;
}
header .send-notification .input-group .alert{
    position: absolute;
    top:110%;
    margin-right: auto ;
    margin-left:auto ;
    display: none;
}

section.features {
    padding: 100px 0;
    position: relative;
    text-align: right;
  }
  
  section.features h2 {
    margin-bottom: 50px;
    font-size: 45px;
    color: #555;
  }
  
  section.features .media {
    border: 4px solid #fafafa;
    padding: 40px 10px;
    margin-bottom: 20px;
    position: relative;
    max-height: 190px;
  }
  
  section.features .media .media-body h5 {
    font-size: 24px;
    color: #555;
  }
  
  section.features .media .media-body p {
    font-size: 15px;
    line-height: 25px;
    color: #9c9c9c;
  }
  
  section.features div[class*="col-"]:nth-child(even) {
    text-align: left;
  }
/* منع الحركةبالتلفون لاعطاءها فاعلية اكبر عند تحميل  الصفحة ضمن الموبايل */
@media ( max-width: 768px){
    header .animate__bounceIn{
        animation-name: none !important;
    }
    .animate__fadeInUp{
        animation-name: none !important;
    }
    .animate__fadeInDown{
    animation-name: none !important;
    }
    .animate__zoomIn{
    animation-name: none !important;
    }
}